*{
    margin:0;
    padding: 0;  
}
.main {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    line-height:0; 
}
.main div {
    display: inline-block;
    width: 20vh;
    height: 20vh;
    text-align: center;
}
.block-yelow { 
    background-color: #ffcf73;
    color: #6b8fd4;
}
.block-blue {
    background-color: #6b8fd4;
    color:#ffcf73;
}
.block-yelow::after{
    display: inline-block;
    height:20vh;
    vertical-align: middle;
    content: "";
}
.block-blue::after{
    display: inline-block;
    height:20vh;
    vertical-align: middle;  
    content: "";
}
