*{
    margin:0;
    padding: 0;  
}
.main {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}
.main div {
    display: inline-block;
    float:left;
    text-align: center; 
}
.main .block-yelow { 
    background: none #ffcf73;
    color:#6b8fd4;
}
.main .block-blue {
    background: none #6b8fd4;
    color:#ffcf73; 
}
.main div p {
    height: 20vh;
    width: 20vh;
    display: table-cell;
    vertical-align: middle;
}