*{
    margin:0;
    padding: 0;  
}
.main {
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.main .block-yelow { 
    min-width: 10vw;
    min-height: 20vh;
    display: inline-block;
    background: none #ffcf73;
    color:#6b8fd4;
    line-height: 20vh;  
    position: relative;
    
}
.main .block-blue {
    min-width: 10vw;
    min-height: 20vh;
    display: inline-block;
    background: none #6b8fd4;
    color:#ffcf73;
    line-height: 20vh;
    position: relative;
}

